<h1 style="width:100%;text-align:center;">Task Manager</h1>

<h2>Current Tasks</h2>

<table style="width:100%;">
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    
    <% @tasks.each do |task| %>
        <tr>
            <td><%= task.name %></td>
            <td><%= task.desc %></td>
            <td><%= link_to 'Complete', method: :delete, id: task.id %></td>
        </tr>
    <% end %>
</table>

<h2>Add a Task</h2>
<%= form_for :task, url: tasks_path do |f| %>
    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>
    
    <p>
        <%= f.label :description %><br>
        <%= f.text_area :desc %>
    </p>
    
    <p>
        <%= f.submit %>
    </p>
<% end %>